[submodule "oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:eatnumber1/oh-my-zsh.git
[submodule "dotprivate"]
	path = .dotprivate
	url = git@github.com:eatnumber1/dotprivate.git
[submodule ".vim/plugin/vundle"]
	path = .vim/plugin/vundle
	url = http://github.com/gmarik/vundle.git
