/*

!.gitignore
!.gitignore.global
!.gitmodules
!.gitconfig
!.htoprc
!.irssi
!.mplayer
!.nethackrc
!.MacOSX/
!.Xresources

!.slrnrc

!.gvimrc
!.vim/
!.vimrc

!.zprofile
!.zshrc
!.zshenv
!.zsh/
!.oh-my-zsh/
!.dotprivate/

!.ssh/
.ssh/*
!.ssh/config
!.ssh/id_rsa
!.ssh/id_rsa.pub
!.ssh/authorized_keys

.netrwhist~
.*.swp
.*.swo
