[user]
	name = Russell Harmon
	email = russ@eatnumber1.com
[core]
	ignorecase = false
	excludesfile = ~/.gitignore.global
[color]
	diff = auto
	branch = auto
	grep = auto
	interactive = auto
	showbranch = auto
	status = auto
[github]
	user = eatnumber1
[include]
	path = .gitconfig.local
[push]
	default = upstream
[alias]
	assume = update-index --assume-unchanged
	unassume = update-index --no-assume-unchanged
	assumed  = "!git ls-files -v | grep ^h | cut -c 3-"
[diff]
	algorithm = patience
