/*

!.gitignore
!.gitmodules
!.gitconfig
!.htoprc
!.irssi
!.mplayer
!.nethackrc
!.MacOSX/

!.slrnrc

!.gvimrc
!.vim/
!.vimrc

!.zshrc
!.zsh/
!.oh-my-zsh/
!.dotprivate/

!.ssh/
.ssh/*
!.ssh/config
!.ssh/id_rsa
!.ssh/authorized_keys

.netrwhist~
.*.swp
.*.swo
