[user]
	name = Russell Harmon
	email = russ@eatnumber1.com
[core]
	ignorecase = false
	excludesfile = ~/.gitignore.global
[color]
	diff = auto
	branch = auto
	grep = auto
	interactive = auto
	showbranch = auto
	status = auto
[github]
	user = eatnumber1
[include]
	path = .gitconfig.local
[push]
	default = simple
